<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
	<div class="container">

		<h1>The Dude has spotted you. What do you do?</h1>

<div class="card-deck">
	<div class="card" style="width:400px">
	<img class="card-img-top" src="https://media.giphy.com/media/WjizsbNuEiwY8/giphy.gif" alt="Card image">
	<div class="card-body">
		<h4 class="card-title">ESCAPE!</h4>
		<p class="card-text">Who does he think he is, grabbing kitties on the street. <em><strong>RUDE!!</strong></em> Run away, flee by any means!</p>
		<a href="/" class="btn btn-primary stretched-link">Evasive maneuvers!</a>
	</div>
	</div> 

	<div class="card" style="width:400px">
	<img class="card-img-top" src="http://giphygifs.s3.amazonaws.com/media/tKyqZtLzZxCLbKitIq/giphy.gif" alt="Card image">
	<div class="card-body">
		<h4 class="card-title">CHARM THE PERSON</h4>
		<p class="card-text">Maybe they will keep you safe!</p>
		<a href="/new_home" class="btn btn-primary stretched-link">Deploy charm</a>
	</div>
	</div> 
    </div>

</div>

    
    
</body>
</html>