<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
	<div class="container">

		<h1>The Person sees you:</h1>

		<div clas="row">
			<div class="col-lg">
				<a href="/home">
				<img src="https://media.giphy.com/media/WjizsbNuEiwY8/giphy.gif"><br>
				ESCAPE!!!</a>
			</div>


			<div class="col-lg">
				<a href="/be_adorable">
				<img src="http://giphygifs.s3.amazonaws.com/media/tKyqZtLzZxCLbKitIq/giphy.gif"><br>Be adorable</a>
			</div>
		</div>

    
    

	</div>

    
    
</body>
</html>