<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	
</head>
<body>

<div class="container">
	<img src="https://media.giphy.com/media/Q61biLP9AvgCA/giphy.gif">

	<h1>At Start</h1>
	<a href="/backtrack">Backtrack</a>
	<a href="/follow_person">Follow Person</a>
		
    
</div>

    
    
</body>
</html>