<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django 1</title>
    {% load static %}	<!-- added this line -->
    <link rel="stylesheet" href="{% static 'my_app/css/my_app_style.css' %}">    
    <!--<script src="{% static 'app_name/js/script.js' %}"></script>-->
</head>
<body>
    <h1>Yay!</h1>
    <h1>Info From Server:</h1>
    <p>Name: {{name}}</p>
    <p>Color: {{favorite_color}}</p>
    <p>Pets</p>
    <ul>
    {% for pet in pets %}
    <li>{{pet}}</li>
    {% endfor %}
    </ul>
</body>
</html>